

@if (TempData["bildirim"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Başarılı!</strong> @TempData["bildirim"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("KategoriList")
    </div>
    <div class="col-md-9">
        @await Component.InvokeAsync("UrunList", new { kategoriId = ViewBag.KategoriId })
    </div>
</div>




