<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home" asp-area="Admin">Ürün İşlemleri </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Kategori" asp-area="Admin">Kategori İşlemleri </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link active" aria-current="page" href="">Çıkış Yap </a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>



    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("JavaScript",false)
</body>
</html>
